*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// VARIABLE DECLERATION
$fontSize: 1.2rem;
$fontColor:white;
$fontFamily:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$navbgColor:lightskyblue;
$bgColor:pink;
$bannerbg:hotpink;
$shadow: 0px 0px 5px black;



body{
    font-size: $fontSize;
    header{
        background-color:$navbgColor ;
    }
    
    main{
        aside{
            color: $fontColor;
            background-color: $bgColor;
            text-shadow: $shadow;
        }
    }
}
